@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

header {
  height: 100vh;
  background: url("../images/mobile/image-hero.jpg") no-repeat top;
  background-size: contain;
  padding: 0 1.3rem;
}

header .upperBar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
}

header .upperBar .siteLogoContainer {
  width: 35%;
}

header .upperBar .siteLogoContainer .siteLogo {
  width: 100%;
}

header .upperBar .mobileMenu label {
  cursor: pointer;
}

header .upperBar .mobileMenu input {
  display: none;
}

header .moto-container {
  margin-top: 8.5rem;
  border: 1px solid white;
  padding: 1.2rem;
}

header .moto-container .moto {
  font-size: 2.9rem;
  line-height: 43px;
  font-weight: 300;
  color: white;
}

main .vr {
  padding: 6rem 1.3rem;
}

main .vr .vrImage {
  width: 100%;
  height: 14.6rem;
  background: url("../images/mobile/image-interactive.jpg") no-repeat top;
  background-size: contain;
}

main .vr .info {
  margin: 2.5rem auto 0;
  text-align: center;
  width: 90%;
}

main .vr .info .interhead {
  font-size: 2rem;
  font-weight: 300;
}

main .vr .info article {
  margin-top: 2.5rem;
  line-height: 25px;
  margin-top: 1.5rem;
  font-family: 'Alata', sans-serif;
  color: #8c8c8c;
}

main .creation {
  text-align: center;
}

main .creation .creat {
  font-size: 2rem;
  font-weight: 300;
}

main .creation .creat-grid {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  row-gap: 1rem;
}

main .creation .creat-grid div {
  width: 21.1rem;
  height: 7.8rem;
  position: relative;
  -webkit-box-shadow: inset 20px 0 80px black;
          box-shadow: inset 20px 0 80px black;
}

main .creation .creat-grid div h3 {
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  bottom: 10px;
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  width: 50%;
}

main .creation .creat-grid .earth {
  background: url("../images/mobile/image-deep-earth.jpg") no-repeat top;
  background-size: contain;
}

main .creation .creat-grid .night {
  background: url("../images/mobile/image-night-arcade.jpg") no-repeat top;
  background-size: contain;
}

main .creation .creat-grid .soccer {
  background: url("../images/mobile/image-soccer-team.jpg") no-repeat top;
  background-size: contain;
}

main .creation .creat-grid .grid {
  background: url("../images/mobile/image-grid.jpg") no-repeat top;
  background-size: contain;
}

main .creation .creat-grid .above {
  background: url("../images/mobile/image-from-above.jpg") no-repeat top;
  background-size: contain;
}

main .creation .creat-grid .pocket {
  background: url("../images/mobile/image-pocket-borealis.jpg") no-repeat top;
  background-size: contain;
}

main .creation .creat-grid .curiosity {
  background: url("../images/mobile/image-curiosity.jpg") no-repeat top;
  background-size: contain;
}

main .creation .creat-grid .FISHEYE {
  background: url("../images/mobile/image-fisheye.jpg") no-repeat top;
  background-size: contain;
}

main .creation .all {
  margin-top: 2rem;
  border: 1px black solid;
  padding: .5rem 3rem;
  font-size: 1rem;
  background-color: transparent;
  font-family: 'Alata', sans-serif;
  word-spacing: 8px;
  letter-spacing: 3px;
  cursor: pointer;
}

footer {
  padding: 3rem 0;
  margin-top: 6rem;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .siteLogoContainer {
  width: 35%;
}

footer .siteLogoContainer .siteLogo {
  width: 100%;
}

footer .linkItems {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

footer .linkItems a {
  color: white;
  text-decoration: none;
}

footer .linkItems a span {
  color: white;
  font-size: .9rem;
  font-family: 'Alata', sans-serif;
}

footer .media {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer span {
  margin-top: 1.4rem;
  color: #8c8c8c;
  font-family: 'Alata', sans-serif;
  font-size: .9rem;
}
/*# sourceMappingURL=style.css.map */
